<?xml version="1.0" encoding="utf-8"?>

<phpunit colors="true" strict="true" bootstrap="tests/autoload.php" convertNoticesToExceptions="false">
  <testsuites>
    <testsuite name="icircle\icoodb">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
        <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
</phpunit>
